/* common style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  font-family: "Work Sans", sans-serif;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
.color0b {
  color: #0b0223;
}
.color3c {
  color: #3c354f;
}
.color53 {
  color: #534c64;
}
.colorff {
  color: #fff;
}
.color60 {
  color: rgba(255, 255, 255, 0.6);
}
.fs16 {
  font-size: 1rem;
}
.fs18 {
  font-size: 1.125rem;
}
.fs20 {
  font-size: 1.25rem;
}
.fs45 {
  font-size: 2.8rem;
}
.fs48 {
  font-size: 3rem;
}
.fs96 {
  font-size: 6rem;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
/* header style */
.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
  margin-bottom: 100px;
}
.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav-right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.nav-right li {
  list-style-type: none;
}
.gradient-g {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-back {
  padding: 17px 24px !important;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.box-back i {
  padding: 0 5px;
}
/* banner style */

.banner-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nd {
  padding: 17px 0px;
}
.banner-btn {
  padding-top: 40px;
}

.btns {
  padding: 21px 40px;
  border-radius: 48px;
  color: white;
  border: none;
}
.btnp {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  margin-right: 24px;
}
.btnb {
  background-color: #4ec5f7;
}
.gradient-b {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-left,
.banner-image {
  width: 50%;
}
.banner-left h1 {
  padding-bottom: 25px;
}

/* online games start here */
.online-text {
  text-align: center;
  margin: 170px 0 0 0;
}
.online-text p {
  padding-top: 16px;
  padding-bottom: 48px;
}
.card-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 120px;
  flex-wrap: wrap;
}
.card img {
  width: 250px;
  height: auto;
  border-radius: 16px;
  padding-bottom: 24px;
}
.card {
  position: relative;
}
.hover-show {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}
.card:hover .hover-show {
  opacity: 1;
}
.card:hover .hover-show i {
  font-size: 48px;
  color: #f948b2;
}
.card:hover .image-holder {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
.card:hover .image-holder {
  border: 3px solid #f948b2;
  border-radius: 16px;
}
/* play style */
.play-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-content {
  text-align: right;
  padding-right: 150px;
}
.play-content p {
  padding-top: 20px;
}
.play-content,
.play-image {
  width: 50%;
}
.play-image {
  position: relative;
  text-align: right;
}
.card-image-one {
  width: 80%;
  border-radius: 8px;
}
.card-image-two {
  width: 50%;
  position: absolute;
  border-radius: 8px;
  border: 10px solid #fff;
  bottom: -80px;
  left: -30px;
}
.games-container {
  margin-top: 180px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  gap: 30px;
}
.games {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.games:hover {
  border: 1px solid #ff42a5;
  color: #ff42a5;
  background-color: #fff;
  border-radius: 50px;
}

/* footer style */

footer {
  background: #0b0223;
  margin-top: 120px;
}

footer img {
  width: 100px;
}
.foot-logo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 126px;
  padding-bottom: 65px;
}

.footer-upper-text {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
  padding-bottom: 60px;
}
.social-icon {
  text-align: center;
}
.social-icon i {
  padding-left: 25px;
  font-size: 25px;
  padding-bottom: 65px;
}
.footer-lower-text {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.copyright {
  text-align: center;
  padding: 28px 0px 130px 0px;
}

@media screen and (max-width: 940px) {
  .nav-flex {
    flex-direction: column;
    gap: 50px;
  }
  .banner-flex {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .banner-left,
  .banner-image,
  .play-content {
    width: 100%;
  }
  .banner-left {
    padding-top: 80px;
    text-align: center;
  }
  .play-flex {
    flex-direction: column;
  }
  .play-content {
    text-align: center;
    padding: 0;
  }
  .play-image {
    width: 80%;
    padding-top: 80px;
  }
  .games-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
  }
  .footer-upper-text {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .nav-flex ul {
    flex-direction: column;
    gap: 50px;
  }
  .goat {
    font-size: 72px;
  }
  .games-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
  }
  .btnp {
    margin: 0;
  }
  .banner-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-lower-text {
    flex-wrap: wrap;
    align-items: center;
  }
}
